.footer {
  padding: 5px;
}

.box-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 5px;
  font-size: 14px;
}

.box-right {
  display: flex;
  flex-direction: column;
}

.box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
}

.menu-footer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 25px 0;
}

.menu-foot {
  display: flex;
  list-style: none;
  gap: 20px;
}

.follow {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.lightyellow {
  background-color: rgba(216, 205, 58, 0.671);
}

.aquamarine {
  background-color: aquamarine;
}

.menu-filters {
  background-color: #f4f7f6;
  grid-column: 1/-1;
  margin: 0;
  line-height: 33px;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  list-style: none;
  position: sticky;
  height: 3rem;
}

.item {
  min-width: 65px;
  border-right: 1px solid #e6eaea;
  height: 40px;
  text-align: center;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 5px;
  position: absolute;
  background-color: #f4f7f6;
  left: 0;
  right: 0;
}

.fillcontent {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  height: 69px;
  padding: 0 20px;
  line-height: 73px;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #e6eaea;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.fill {
  display: block;
  height: 34px;
  padding: 0 20px;
  line-height: 34px;
  color: #202121;
  border: 1px solid #202121;
  border-radius: 36px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.header {
  grid-column: 1/-1;
  top: 0;
  height: 40px;
  line-height: 33px;
  font-size: 14px;
  font-weight: 200;
  background-color: #f4f7f6;
  position: sticky;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  flex-wrap: wrap;
}

.spaceright {
  padding-left: 450px;
}

.spaceleft {
  padding-left: 200px;
}

.login {
  grid-column: 5/7;
  grid-row: 1;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.blk {
  text-decoration: none;
  color: white;
  font-size: 10px;
  position: relative;
}

.link, .link:checked, link:visited {
  text-decoration: none;
  color: black;
}

.log {
  display: inline-block;
}

.bt-menu {
  top: -1px;
  margin-right: 10px;
}

.menu-ico {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 13px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #202121;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 1px;
  z-index: 10;
}

.btnmenu {
  min-width: 115px;
  height: 40px;
  border-right: 1px solid #e6eaea;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.loginbtn {
  display: flex;
}

.write {
  grid-column: 1/-1;
  background-color: #f4f7f6;
  margin-top: 1px 0;
  line-height: 33px;
  font-size: 12px;
  font-weight: 200;
  padding: 20px;
}

.writeup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.writeup-content {
  font-size: 13px;
  border-right: 1px solid #e6eaea;
}

.ext {
  text-decoration: none;
  margin-left: 2px;
}

.boxes {
  grid-column: 1/-1;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: min-content;
  gap: 1rem;
  padding: 10px;
}

.box {
  background-color: white;
  width: 100%;
  padding: 10px;
}

.boxtop {
  display: flex;
}

.content {
  padding: 5px;
}

.row {
  padding: 10px;
  font-size: 14px;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 13x;
}

.boxfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #f9f7f6;
}

.byname {
  display: flex;
  padding: 20px;
}

.tags {
  display: flex;
  padding: 10px;
}

.by {
  display: flex;
}

.tooltip-text {
  display: none;
  z-index: 1;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip-text {
  display: block;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 5px;
  position: absolute;
  background-color: #f4f7f6;
  bottom: 0;
}

.oval {
  padding: 10px;
  list-style: none;
  margin: 5px;
}

.hidden {
  height: 100%;
  display: none;
  width: 100%;
}

.box-photo:hover .hidden {
  position: absolute;
  display: block;
}

.hover-item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
}

.box-photo {
  background-image: url(/pic6.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: none;
  background-clip: border-box;
  position: relative;
}

.share-circles {
  list-style: none;
  display: flex;
}

.bt-circle {
  margin: 3px;
  border: 1px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
}

.icons {
  height: 30px;
  width: 30px;
}

.right {
  padding: 30px;
}

.left {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.round {
  border: 5px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  padding: 5px;
}

.sotd {
  background-color: pink;
}

.dotd {
  background-color: rgba(0, 0, 255, 0.562);
}

.hm {
  background-color: rgba(255, 255, 0, 0.61);
}

* {
  margin: 0;
  padding: 0;
}

*::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
}

.footer {
  grid-column: 1/-1;
}

/*# sourceMappingURL=style.css.map */
