
.write{
    grid-column: 1/-1;
    background-color: #f4f7f6;
    margin-top: 1px 0;
    line-height: 33px;
    font-size: 12px;
    font-weight: 200;
    padding: 20px;
}

.writeup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.writeup-content{
    font-size: 13px;
    border-right: 1px solid #e6eaea;
   
}

.ext{
    text-decoration: none;
    margin-left: 2px;
}